<!DOCTYPE html>
<html ng-app="plugin.trendsTab">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/dashboard.css" rel="stylesheet"/>
<script src="lib/angular/js/angular.js"></script>
<script src="lib/ui-bootstrap-tpls-0.10.0.js"></script>
<script src="js/trends.js"></script>
<script src="js/services.js"></script>
<script src="js/common.js"></script>
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
.noPrint {
 display:block;
 width: 100%;
 height: 150px;
}
.printButDontShow {
display: none;
}
@media print {
.noPrint { display:none;width: 100%;height: 150px;}
.printButDontShow {display: block;text-align: center;}
}
</style>
</head>
<body ng-controller="tabController">
	<div class ="noPrint">
		<div class="trends-panel">
			<div class="trends-search-panel">

				<div id="startDateAndTime" class="datetime-panel" ng-controller="startDateTimeController" >
					<div class="range-label">From</div>
					<div class="date-panel">
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startdt" is-open="opened" max="max-date" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</p>
					</div>
					<div class="time-panel">
						<timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					</div>
				</div>

				<div id="stopDateAndTime" class="datetime-panel" ng-controller="stopDateTimeController">
					<div class="range-label">To</div>
					<div class="date-panel">
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="stopdt" is-open="opened" max="max-date" min = "min-date" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</p>
					</div>
					<div class="time-panel">
						<timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					</div>
				</div>

				<div class="action-panel">
					<div style="float: left;">
						<button class="btn btn-default" ng-click="getCustomGraphs()">Submit</button>
					</div>
					<div class="trendsActions">
						<img style="height: 18px; float: left;" src="images/refresh.png" ng-click="refresh()"/>
					</div>
					<div class="trendsActions">
						<img src="images/print.png" style=" height: 20px;" ng-click="exportToPdf()"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "printButDontShow">Time Range : {{start}} to {{stop}}</div>
	<div align="center">
		<img style="padding-top: 9px; padding-left: 10px" ng-repeat="graph in graphs" ng-src="{{graph}}"/>
	</div>
</body>
</html>
