/*
    In AngularJS, adding empty href attributes to link tags will cause unwanted route changes.
    This is why we need to remove empty href attributes from HTML templates, but this breaks Bootstrap's styling.
    Following CSS fixes that problem.
*/
.nav, .pagination, .carousel a {
    cursor: pointer;
}

/*
    Make body taller and apply offset due to fixed top navbar.
    Source: http://getbootstrap.com/examples/navbar-fixed-top/
*/
body {
    min-height: 2000px;
    padding-top: 70px;
}

/*
    Custom nav styling, includes media queries.
    Source: http://getbootstrap.com/examples/justified-nav/
*/
.nav-justified {
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.nav-justified > li > a {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
    background-color: #e5e5e5; /* Old browsers */
    background-repeat: repeat-x; /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
    background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    background-color: #ddd;
    background-image: none;
    box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
    border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}
@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }
    .nav-justified > li > a {
        border-left: 1px solid #fff;
        border-right: 1px solid #d5d5d5;
    }
    .nav-justified > li:first-child > a {
        border-left: 0;
        border-radius: 5px 0 0 5px;
    }
    .nav-justified > li:last-child > a {
        border-radius: 0 5px 5px 0;
        border-right: 0;
    }
}

/*
    Additional custom styles.
*/
.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.progress {
    height: 35px;
}

.progress p.lead {
    line-height: 35px;
}

.achievement {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 330px;
}
